<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://wixtoolset.org/schemas/v4/wxs"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    <!-- Fixed upgrade code. This should never change unless the Connector becomes entirely obsolete -->
    <!-- and may or may not get replaced with a different app. -->
    <?define UpgradeCode = "{3de2814b-aab0-4aae-b668-9d4769fa2845}"?>

    <Package
        ProductCode="*"
        Scope="perMachine"
        UpgradeCode="$(var.UpgradeCode)"
        Name="!(loc.ProductName)"
        Manufacturer="!(loc.Company)"
        Version="$(ProductVersion)"
        Language="!(loc.Language)"
    >
        <SummaryInformation Description="!(loc.Description)" Keywords="!(loc.Keywords)" />

        <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />

        <!-- Include .cab file into .msi file -->
        <MediaTemplate EmbedCab="yes" />

        <!-- Help/Support website (shows in the Add/Remove programs) -->
        <Property Id="ARPURLINFOABOUT" Value="https://www.meveto.com" />

        <!-- Create a basic UI for the installer -->
        <ui:WixUI
            Id="WixUI_Minimal"
            InstallDirectory="INSTALLFOLDER"
        />

        <Feature Id="ProductFeature" Title="Meveto AD/LDAP Connector" Level="1">
            <Component Id="MainApp" Directory="INSTALLFOLDER">
                <File Id="MainAppFile" Source="..\build\app.mjs" KeyPath="yes" />
            </Component>
            <Component
                Id="NodeBin" Directory="BinDir">
                <File Id="NodeBinFile" Source="..\build\bin\node.exe" KeyPath="yes" />
            </Component>
            <Component
                Id="NssmBin" Directory="BinDir">
                <File Id="NssmBinFile" Source="..\build\bin\nssm.exe" KeyPath="yes" />
            </Component>
            <Component
                Id="HttpServerBin" Directory="BinDir">
                <File Id="HttpServerBinFile" Source="..\build\bin\http-server" KeyPath="yes" />
            </Component>
            <Component
                Id="HttpServerStarterBin" Directory="BinDir">
                <File Id="HttpServerStarterBinFile" Source="..\build\bin\start.cmd" KeyPath="yes" />
            </Component>
            <Component
                Id="DefaultConfig" Directory="ConfigDir">
                <File Id="DefaultConfigFile" Source="..\build\config\default.json" KeyPath="yes" />
            </Component>
            <Component
                Id="IndexHtml" Directory="FrontDir">
                <File Id="IndexHtmlFile" Source="..\build\front\index.html" KeyPath="yes" />
            </Component>
            <ComponentGroupRef
                Id="HarvestedAssetsComponents" />
            <ComponentGroupRef Id="HarvestedScriptsComponents" />
            <ComponentRef Id="NssmServicesControl" />
        </Feature>

        <SetProperty Id="WixQuietExecCmdLine"
            Value="&quot;[%ComSpec]&quot; /c explorer.exe &quot;http://127.0.0.1:6971&quot;"
            Sequence="execute" Before="LaunchBrowser" />
        <CustomAction Id="LaunchBrowser" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)"
            DllEntry="WixQuietExec" Return="ignore" />

        <InstallExecuteSequence>
            <Custom Action="MevetoConnectorProcess" Before="StartServices" />
            <!-- <Custom Action="ConnectorStdOut" After="MevetoConnectorProcess" />
            <Custom Action="ConnectorStdErr" After="MevetoConnectorProcess" /> -->
            <Custom Action="MevetoConnectorUI" Before="StartServices" />
            <Custom Action="LaunchBrowser" After="InstallFinalize"
                Condition="NOT Installed" />
        </InstallExecuteSequence>
    </Package>
</Wix>