<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://wixtoolset.org/schemas/v4/wxs"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <!-- Fixed upgrade code. This should never change unless the Connector becomes entirely obsolete -->
    <!-- and may or may not get replaced with a different app. -->
    <?define UpgradeCode = "{3de2814b-aab0-4aae-b668-9d4769fa2845}"?>

    <!-- Name="!(loc.ProductName)" -->
    <Package            
        Name="Meveto AD/LDAP Connector"
        Manufacturer="Meveto"
        ProductCode="*"
        Scope="perMachine"
        Version="1.0.0.0"
        UpgradeCode="$(var.UpgradeCode)"
        Language="1033"
    >

        <!-- Downgrade error message -->
        <MajorUpgrade DowngradeErrorMessage="A newer version of the Meveto AD/LDAP Connector is already installed." />

        <!-- Include .cab file into .msi file -->
        <MediaTemplate
            EmbedCab="yes"
        />

        <!-- Define main app icon -->
        <!-- <Icon Id="icon.ico" SourceFile="$(var.ConsoleApp1.ProjectDir)\app.ico" /> -->
        <!-- Use the icon.ico icon for this installer (shows up in Add/Remove programs) -->
        <!-- <Property Id="ARPPRODUCTICON">icon.ico</Property> -->

        <!-- Help/Support website (shows in the Add/Remove programs) -->
        <Property Id="ARPURLINFOABOUT" Value="https://www.meveto.com" />

        <!-- Create a basic UI for the installer -->
        <!-- <UIRef Id="WixUI_Minimal" /> -->

        <!-- Change the installer UI background images -->
        <!-- <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\License.rtf" />
        <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\Background.bmp" />
        <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\Banner.bmp" /> -->

        <!-- Define components, shortcuts, files etc... for installer -->
        <Feature Id="ProductFeature" Title="Meveto AD/LDAP Connector" Level="1">
            <ComponentGroupRef Id="ConnectorComponents" />
            <!-- <ComponentGroupRef Id="PublishedComponents" /> -->
        </Feature>
    </Package>

    <Fragment>
        <ComponentGroup Id="ConnectorComponents">
            <ComponentRef Id="ConnectorBackendNodeFile" />
            <ComponentRef Id="ConnectorDefaultConfig" />
        </ComponentGroup>
    
        <!-- App.mjs -->
        <DirectoryRef Id="INSTALLFOLDER" FileSource="..\build\">
          <Component Id="ConnectorBackendNodeFile" Guid="{0e9a0f3d-3ff1-4ba2-84dc-6e27fb3c0a7e}">
            <File Id="file_main_backend_node" Name="app.mjs" KeyPath="yes" />
          </Component>
        </DirectoryRef>
    
        <!-- config/default.json -->
        <DirectoryRef Id="DirectoryConfigComponent" FileSource="..\build\config">
            <Component Id="ConnectorDefaultConfig" Guid="{dd87ff97-3635-4f55-90c0-4ef2b5a54c0b}">
              <File Id="file_connector_default_config" Name="default.json" KeyPath="yes" />
            </Component>
          </DirectoryRef>
      </Fragment>

      <Fragment>
        <StandardDirectory Id="ProgramFiles6432Folder">
            <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)">
                <Directory Id="DirectoryConfigComponent" Name="config" />
                <Directory Id="DirectoryFront" Name="front">
                    <Directory Id="DirectoryFrontAssets" Name="assets" />
                </Directory>
                <Directory Id="DirectoryScripts" Name="scripts" />
            </Directory>
        </StandardDirectory>
      </Fragment>
</Wix>