<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://wixtoolset.org/schemas/v4/wxs"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="Meveto">
        <Directory Id="BinDir" Name="bin" />
        <Directory Id="ConfigDir" Name="config" />
        <Directory Id="FrontDir" Name="front" />
        <Directory Id="ScriptsDir" Name="scripts" />
      </Directory>
    </StandardDirectory>
  </Fragment>
</Wix>