<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://wixtoolset.org/schemas/v4/wxs"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="Meveto" />
    </StandardDirectory>
  </Fragment>
</Wix>